

@model VideoGame
@{
    ViewData["Title"] = "Add a new game to the library";
}

<h1>Add a new game</h1>


<form method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input placeholder="Title" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label>
        <input placeholder="Rating" class="form-control" asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input placeholder="Description" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>


    <div class="form-group">
        <label asp-for="Price"></label>
        <input placeholder="Price" class="form-control" asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>


    <input type="submit" value="Add Game" />

</form>

@*
    Add reference to jquery validation which does client validation    
*@
<partial name="_ValidationScriptsPartial" />
